@using ProjeCorePersonel.Models
@model List<Birim>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Birim</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>

    @foreach (var x in Model)
    {
        <tr>
            <td>@x.BirimId</td>
            <td>@x.BirimAd</td>
            <td><a href="/Default/BirimSil/@x.BirimId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Default/BirimGetir/@x.BirimId" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Default/BirimDetay/@x.BirimId" class="btn btn-default" style="background-color:chocolate">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Default/YeniBirim" class="btn btn-info">Yeni Birim</a>
